<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixRegions</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>APIC</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>HPET</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
		</array>
		<key>HaltEnabler</key>
		<true/>
		<key>PatchAPIC</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>EnableC2</key>
			<true/>
			<key>EnableC4</key>
			<true/>
			<key>EnableC6</key>
			<true/>
			<key>C3Latency</key>
			<integer>0</integer>
			<key>Generate</key>
			<false/>
		</dict>
		<key>smartUPS</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Arbitrary</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject HDA properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>alc-layout-id</string>
						<key>Value</key>
						<data>AQAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<data>BwAAAA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>platformFamily</string>
						<key>Value</key>
						<data>AA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>PinConfigurations</string>
						<key>Value</key>
						<data></data>
					</dict>
					<dict>
						<key>Key</key>
						<string>MaximumBootBeepVolume</string>
						<key>Value</key>
						<data>TQ==</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1B:00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject Intel HD properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>AAPL,ig-platform-id</string>
						<key>Value</key>
						<data>BwBiAQ==</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:02:00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject Wi-Fi properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>built-in</string>
						<key>Value</key>
						<data>AA==</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>03:00:00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject LAN properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>built-in</string>
						<key>Value</key>
						<data>AA==</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>name</string>
						<key>Value</key>
						<string>ethernet</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>IOName</string>
						<key>Value</key>
						<string>ethernet</string>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>04:00:00</string>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>NO</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>AsusAICPUPM</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Override USB: port-count -&gt; port_count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>cG9ydC1jb3VudAA=</data>
				<key>MatchOS</key>
				<string>10.11.x, 10.12.x, 10.13.x, 10.14.x, 10.15.x</string>
				<key>Name</key>
				<string>IOUSBHostFamily</string>
				<key>Replace</key>
				<data>cG9ydF9jb3VudAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Override EHCI: ports -&gt; hub</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>cG9ydHMA</data>
				<key>MatchOS</key>
				<string>10.11.x, 10.12.x, 10.13.x, 10.14.x, 10.15.x</string>
				<key>Name</key>
				<string>AppleUSBEHCIPCI</string>
				<key>Replace</key>
				<data>aHViAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Override XHCI: ports -&gt; hub</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>cG9ydHMA</data>
				<key>MatchOS</key>
				<string>10.11.x, 10.12.x, 10.13.x, 10.14.x, 10.15.x</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>aHViAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Override EHCI: disable MUX</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>a1VTQk11eEVuYWJsZWQA</data>
				<key>MatchOS</key>
				<string>10.11.x, 10.12.x, 10.13.x, 10.14.x, 10.15.x</string>
				<key>Name</key>
				<string>AppleUSBEHCIPCI</string>
				<key>Replace</key>
				<data>WFVTQk11eEVuYWJsZWQA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Override XHCI: disable MUX</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>a1VTQk11eEVuYWJsZWQA</data>
				<key>MatchOS</key>
				<string>10.11.x, 10.12.x, 10.13.x, 10.14.x, 10.15.x</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>WFVTQk11eEVuYWJsZWQA</data>
			</dict>
		</array>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>iMac13,2</string>
		<key>Trust</key>
		<false/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
